*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#effect{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    height: 150px;
    width: 150px;
    background-color:blue;
    border-radius: 100%;
    transition: cubic-bezier(0.23, 1, 0.320, 1) 3s;
}

.hover{
    transform: scale(1.4);
}